/* .class{
    background-color: rgb(0, 26, 255);
    color: white;
    display: inline-block;
    text-align: center;
    
    
}
@media screen and(max-width:600px){
    .class{
        width: 100%;
        float: none;
        
        
    }
}*/
 

 body{
    
    box-sizing: border-box;
    color: black;

    
 }

a {
      color: white;
    }

a:hover {
  color:black;
  background-color: bisque;
}
    
.text-center{
    text-align:center;
}

.collapse navbar-collapse{
    text-align:center;
   
}

.nav-link {
color: #fff;
}

.nav-link:hover{
    background-color: antiquewhite;
}

  .img-fluid{
    height: 15%;
    width:15%;
  }

  .moving-links {
    color: red;
    animation: mymove 1s infinite;
  }


  @keyframes mymove {
    from {color: red;}
    to {color: white;}
  }
  
  .moving-links1 {
    color: blue;
    animation: mymove1 1s infinite;
  }


  @keyframes mymove1 {
    from {color:blue;}
    to {color: white;}
  }

  .blink-link ul li{
    margin-left:8rem;
    font-size:15px;
  }

 
  .blink1 {
    color: rgb(126, 31, 90);
    animation: move 1s infinite;
  }


  @keyframes move {
    from {color:rgb(126, 31, 90);}
    to {color: white;}

  }
  .blink ul li{
    margin-left:8rem;
    font-size:15px;
  }
  .blink2 {
    color: goldenrod;
    animation: move1 1s infinite;
  }


  @keyframes move1 {
    from {color:goldenrod;}
    to {color: white;}
  }

  #container{
    padding: 20px;
    
  }
 .justify{
  text-align:justify;
  text-justify: inter-word;
 }


 .size{
  color:darkkhaki;
  font-size:15px;
 }
 .footer{
  background-color:#0A5487;
 }



 .icon-style{
  color: rgb(255, 108, 108);
  
}

.container{
  padding: 20px;
}

.head-color{
background-color:#d9edf7; 
}