body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
}

p{
  margin: 0;
}

.nav-link {
  color: #fff;
}

/*.nav-link:hover{
  background-color:white;
}*/
.Head {
  margin-left: 300px;
  gap: 10px;
}
.header {
  margin-left: auto;
  margin-right: auto;
}
.header2 {
  margin-right: 15px;
}
.img-fluid {
  height: 8rem;
  width: 11rem;
}
.image-fluid {
  height: 4rem;
  width: 4rem;
}

.moving-links {
  color: red;
  animation: mymove 0.5ms infinite;
}

@keyframes mymove {
  from {
    color: red;
  }
  to {
    color:brown;
  }
}

.moving-links1 {
  color: blue;
  animation: mymove1 1s infinite;
}

@keyframes mymove1 {
  from {
    color: blue;
  }
  to {
    color: rgb(149, 149, 221);
  }
}

.blink-link ul li {
  margin-left: 8rem;
  font-size: 15px;
}

.blink1 {
  color: rgb(126, 31, 90);
  animation: move 1s infinite;
}

@keyframes move {
  from {
    color: rgb(126, 31, 90);
  }
  to {
    color:palevioletred;
  }
}
.blink ul li {
  margin-left: 8rem;
  font-size: 15px;
}
.blink2 {
  color: goldenrod;
  animation: move1 1s infinite;
}

@keyframes move1 {
  from {
    color:rgb(83, 9, 83);
  }
  to {
    color:rgb(219, 127, 219);
  }
}

#container {
  padding: 30px;
}
#container2 {
  padding: 20px;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.size {
  color: black;
  font-size: 15px;
}
.footer {
  background-color: #0a5487;
}

.icon-style {
  color: rgb(255, 108, 108);
}

.head-color {
  background-color: #d9edf7;
}
.line-color {
  background-color: bisque;
  max-width: fit-content;
}
.Line-Color {
  color: #0a5487;
  width: 5px;
}
.rounded float-right {
  float: right;
}
.table-size {
  margin-left: 50px;
}

.web {
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 250px;
}
.padding {
  margin-left: 200px;
  margin-right: 250px;
}

.Feed {
  background-color: bisque;
  font-size: 30px;
  color: black;
}

.std {
  background-color: bisque;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 250px;
}

.abt {
  margin-right: 100px;
}
.chairman {
  width: 50%;
  height: auto;
  margin-right: 15px;
}
.nav-tab {
  border-bottom: #ddd;
}
.nav {
  gap: 20px;
}

.addm-size {
  margin-left: 150px;
  margin-right: 150px;
}
.image-size {
  width: 300px;
  height: 300px;
}
.table-gap {
  margin-left: 30px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.marquee {
  size: 10px;
}

marquee a{
  font-size: medium;
  font-weight: 700;
}
.form-gap {
  padding-top: 70px;
}

.link-horizon li a{
color: #0a5487;
}