/* .class{
    background-color: rgb(0, 26, 255);
    color: white;
    display: inline-block;
    text-align: center;
    
    
}
@media screen and(max-width:600px){
    .class{
        width: 100%;
        float: none;
        
        
    }
}*/
 

body{
    
  box-sizing: border-box;
  color: black;

  
}



a:hover {
color:black;
background-color: #d9edf7;
}
  
/*.text-center{
  text-align:right;
}*/

.nav-link {
color: #fff;
}

/*.nav-link:hover{
  background-color:white;
}*/

.img-fluid{
  height:10%;
  width:7%;
}

.moving-links {
  color: red;
  animation: mymove 1s infinite;
}


@keyframes mymove {
  from {color: red;}
  to {color:black;}
}

.moving-links1 {
  color: blue;
  animation: mymove1 1s infinite;
}


@keyframes mymove1 {
  from {color:blue;}
  to {color: black;}
}

.blink-link ul li{
  margin-left:8rem;
  font-size:15px;
}


.blink1 {
  color: rgb(126, 31, 90);
  animation: move 1s infinite;
}


@keyframes move {
  from {color:rgb(126, 31, 90);}
  to {color:black;}

}
.blink ul li{
  margin-left:8rem;
  font-size:15px;
}
.blink2 {
  color: goldenrod;
  animation: move1 1s infinite;
}


@keyframes move1 {
  from {color:goldenrod;}
  to {color:black;}
}

#container{
  padding: 30px;
  
}
.justify{
text-align:justify;
text-justify: inter-word;
}


.size{
color:black;
font-size:15px;
}
.footer{
background-color:#0A5487;
}



.icon-style{
color: rgb(255, 108, 108);

}

.head-color{
background-color:#d9edf7; 
}
.line-color{
background-color:bisque;
max-width: fit-content;

}
.Line-Color{
color: #0A5487;
width: 5px;
}
.rounded float-right{
float: right;
}
.table-size{
  margin-left: 50px;

}

.web{
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 250px;

}
.padding{
  margin-left: 200px;
  margin-right: 250px;
}

.Feed{
  background-color: bisque;
  font-size: 30px;
  color: black;
}

.std{
  background-color: bisque;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 250px;
}

.abt{
 
  margin-right: 100px;
}
.chairman{
  width: 50%;
  height: auto;
  margin-right: 15px;
}
.nav-tab{
  border-bottom: #ddd;;
}
.nav{
  gap: 20px;
}

.addm-size{
 
  margin-left: 150px;
  margin-right: 150px;
  
}
.image-size{
 width:300px;
 height: 300px;
}
.table-gap{
  margin-left: 30px;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.marquee{
  size: 50px;
}